<!-- Add Participant Modal -->
<script type="text/ng-template" id="addPartModalContent.html">
		<div class="modal-header">
				<h4 class="modal-title">Add Participant</h4>
		</div>
		<div class="modal-body">
				<form name="form" novalidate role="form">
					<div class="form-group">
					  <input type="text" name="name" ng-model="name" id="name" autofocus="" class="form-control" placeholder="Participant's Name" required/>
					</div>
				</form>
		</div>
		<div class="modal-footer">
				<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
				<button class="btn btn-primary" ng-click="angular.element('#name').focus();$close(name)">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
		</div>
</script>

<!-- Confirm Remove Participant Modal -->
<script type="text/ng-template" id="removePartModal.html">
		<div class="modal-body">
				<h4>Confirm Removal</h4>
		</div>
		<div class="modal-footer">
				<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
				<button class="btn btn-danger" ng-click="$close('remove')">Remove</button>
		</div>
</script>

<!-- Confirm Remove All Participants Modal -->
<script type="text/ng-template" id="removeAllPartModal.html">
		<div class="modal-body">
				<h4>Confirm Removal</h4>
		</div>
		<div class="modal-footer">
				<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
				<button class="btn btn-danger" ng-click="$close('remove')">Remove</button>
		</div>
</script>

<div class="row">
	<div class="col-xs-12">
		<!-- Button trigger modal -->
		<button class="btn btn-sm btn-success add-part-btn" ng-click="openModal('sm')">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Participant</button>
		<button class="btn btn-sm btn-danger add-part-btn" ng-show="participants.length > 1" ng-click="removeAll()">
			<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Remove All Participants</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well" ng-hide="participants.length">No Participants</div>
		<div class="panel panel-default" ng-show="participants.length" ng-repeat="part in participants" id="{{replaceSpaces(part.$id)}}">
			<div class="panel-heading">
				<h4>{{part.$id}}<button class="btn btn-xs btn-danger pull-right rem-part-btn"  ng-click="removePart(part)">
					<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Remove
					</button></h4>
			</div>
			<div class="panel-body">
				<select ui-select2 multiple class="form-control" ng-model="selectedPlayers" ng-init="initSelect(this)" ng-change="onUpdate(this)" data-placeholder="Choose players...">
					<option ng-repeat="player in playerList" value="{{player}}">{{player}}</option>
				</select>

			</div>
		</div>
	</div>
</div>