<!DOCTYPE html>
<html>
  <head>
    <title>Weekly PGA Pool</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="AppCtrl">
  	<div class='container'>
	    <h2>Weekly PGA Pool</h2>
	    <section ui-view></section>
	</div>

  <!-- libs -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
  <!-- app -->
  <script src="app/app.js"></script>
  <script src="app/AppCtrl.js"></script>
  <script src="app/common/app.common.js"></script>
  <script src="app/common/services/app.data.js"></script>
  <script src="app/home/app.home.js"></script>
  <script src="app/home/HomeCtrl.js"></script>

  </body>
</html>