<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="AppCtrl">
  	<div class='container'>
	    <h1><%= title %></h1>
	    <section ui-view></section>
	</div>

  <!-- libs -->
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
  <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>

  <!-- app -->
  <script src="app/app.js"></script>
  <script src="app/AppCtrl.js"></script>
  <script src="app/common/app.common.js"></script>
  <script src="app/common/services/app.data.js"></script>
  <script src="app/home/app.home.js"></script>
  <script src="app/home/HomeCtrl.js"></script>

  </body>
</html>