.myHeader {
	top: 0;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1030;
	height:40px;
	background-color: rgba(240, 240, 240, 0.85);
	border-bottom: 4px solid rgba(222, 222, 222, 0.85);
}

.panel-heading {
	padding: 5px 15px;
}

.player-name {
	display: inline-block;
	padding: 7px 10px;
	margin: 5px 5px 5px 5px;
	border-radius: 3px
}

.participant-money {
	padding: 7px 10px;
	margin-top: -5px;
	border-radius: 3px
}

.add-part-btn {
	margin-top: -10px;
	margin-bottom: 15px
}

.rem-part-btn {
	margin-top: -2px
}

.pool-pos {
	margin-top: -5px
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	margin: 6px 0;
}