<h4>{{tourneyStats.tournament_name}}<br><small>POOL STANDINGS - {{roundStatusDisplay()}}<span class="pull-right" ng-show="displayUpdatesMsgFlag()">(updates are automatic)</span></small></h4>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Pool Payouts<span class="pull-right bg-success participant-money">Total of $</span></h4>
	</div>
	<div class="panel-body">
		<div class="bg-warning player-name"><strong>1<sup>st</sup></strong>&nbsp;&nbsp;&nbsp;$</div>
		<div class="bg-warning player-name"><strong>2<sup>nd</sup></strong>&nbsp;&nbsp;&nbsp;$</div>
		<div class="bg-warning player-name"><strong>3<sup>rd</sup></strong>&nbsp;&nbsp;&nbsp;$</div>
		<div class="bg-warning player-name"><strong>4<sup>th</sup></strong>&nbsp;&nbsp;&nbsp;$</div>
		<div class="bg-warning player-name"><strong>5<sup>th</sup></strong>&nbsp;&nbsp;&nbsp;$</div>
		<div class="bg-warning player-name"><strong>Last<sup></sup></strong>&nbsp;&nbsp;&nbsp;$</div>
	</div>
</div>

<div class="well" ng-hide="participants.length">No Participants in Pool</div>

<div class="panel panel-default" ng-repeat="part in participants | orderBy:'-total_money' track by part.$id ">
	<div class="panel-heading">
		<h4><span class="text-muted">{{$index+1}}</span>&nbsp;&nbsp;{{part.$id}}<span class="pull-right bg-success participant-money">${{part.total_money | number:0}}</span></h4>
	</div>
	<div class="panel-body">
		<div class="bg-info player-name" ng-repeat="(name, val) in part.players">{{name}} - ${{lookupMoney(name) | number:0}}</div>
	</div>
</div>
